@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

* {
  font-family: "Portiso", serif;
  letter-spacing: 0.1em;
}

@font-face {
  font-family: "Portiso";
  src: url("../fonts/portiso-regular.otf");
}

body {
  background-color: #202020;
  color: #ddd;
  overflow-y: scroll;
}

button {
  cursor: pointer;
}

::selection {
  background-color: #ddd;
  color: #202020;
}
